<template>
  <div>
    <Alltable />
  </div>
</template>

<script>
export default {
  components: {
    Alltable: () => import('~/components/budget/budgetcard.vue'),
  },
}
</script>

<style></style>
