<template lang="html">
  <div>
    <div v-for="specifics in specific" :key="specifics._id">
      <v-card
        class="mx-4 my-4"
        v-for="specificones in specifics.specificone"
        :key="specificones.id_file"
        @click="poslink(specifics._id)"
      >
        <v-list-item three-line>
          <v-list-item-content>
            <v-col class="d-flex justify-space-between">
              <div>
                เลขที่เอกสาร :
                <span>{{ specificones.id_file }}</span>
              </div>
              <div>แบบสรุปยอดการใช้จ่ายทำการตลาดสำหรับเบิกงบประมาณ</div>
              <div>
                ผู้เสนอ :
                <span>{{ specificones.presenter }}</span>
              </div>
              <div>
                วันที่เอกสาร :
                <span>{{ specificones.date_file }}</span>
              </div>
            </v-col>
          </v-list-item-content>
        </v-list-item>
      </v-card>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
const { apiUrl } = process.env
export default {
  data() {
    return {
      specific: [],
    }
  },
  methods: {
    getall() {
      const url = `${apiUrl}/specific`
      axios.get(url).then((res) => {
        this.specific = res.data
        // console.log('testget', this.specific)
      })
    },
    //poslink ไปหน้า แสดงรายละเอียด ฟอร์ม พร้อมเซ็ต loclaStorage
    poslink(_id) {
      localStorage.setItem('id_specific', _id)
      return (window.location.href = '/specifics/specificgetall/')
    },
  },
  computed: {},
  mounted() {
    this.getall()
  },
}
</script>

<style lang="css" scoped></style>
