<template>
  <div id="app">
    <v-app id="inspire">
      <v-stepper v-model="e6" vertical>
        <v-stepper-step :complete="e6 > 1" step="1"> page 1 </v-stepper-step>

        <v-stepper-content step="1" class="d-flex justify-center">
          <v-card
            class="mb-12"
            elevation="2"
            style="width: 1000px"
            outlined
            shaped
          >
            <SupportPageOne
              @getcall_support_one="call_support_one"
              :call_support="call_support"
            />
          </v-card>
          <v-btn color="primary" @click="e6 = 2">หน้าถัดไป </v-btn>
        </v-stepper-content>

        <v-stepper-step :complete="e6 > 2" step="2"> page 2 </v-stepper-step>

        <v-stepper-content step="2" class="d-flex justify-center">
          <v-card
            class="mb-12"
            elevation="2"
            style="width: 1000px"
            outlined
            shaped
          >
            <SupportPageTwo
              @getcall_support_two="call_support_two"
              :call_support="call_support"
          /></v-card>
          <v-btn color="primary" @click="e6 = 1"> ย้อนกลับ </v-btn>
        </v-stepper-content>
      </v-stepper>
    </v-app>
    <v-btn
      @click="call_support = !call_support"
      color="secondary"
      depressed
      elevation="6"
      plain
      >บันทึกข้อมูล</v-btn
    >
  </div>
</template>

<script>
import axios from 'axios'
const { apiUrl } = process.env
export default {
  components: {
    SupportPageOne: () => import('~/components/support/SupportPageOne.vue'),
    SupportPageTwo: () => import('~/components/support/SupportPageTwo.vue'),
  },
  data() {
    return {
      e6: 1,
      call_support: null,
    }
  },
  methods: {
    async call_support_one(add_support_one) {
      await console.log('call_support_one', (this.send_one = add_support_one))
    },
    async call_support_two(add_support_two) {
      await console.log('call_support_two', (this.send_two = add_support_two))
      this.sendapi()
    },
    async sendapi() {
      await axios.post(`${apiUrl}/support/`, {
        supportone: this.send_one,
        supporttwo: this.send_two,
      })
      await (this.e6 = 3)
    },
  },
}
</script>

<style lang="scss" scoped>
.v-sheet.v-stepper:not(.v-sheet--outlined) {
  box-shadow: none;
}
</style>
