<template>
  <div id="app">
    <v-app id="inspire">
      <v-stepper v-model="e6" vertical>
        <v-stepper-step :complete="e6 > 1" step="1"> page 1 </v-stepper-step>

        <v-stepper-content step="1" class="d-flex justify-center">
          <v-card
            class="mb-12"
            elevation="2"
            style="max-width: 1000px"
            outlined
            shaped
          >
            <SpecificPageOne
              @getcall_specific_one="call_specific_emitone"
              :call_specific="call_specific"
            />
          </v-card>

          <v-btn color="primary" @click="e6 = 2"> หน้าถัดไป</v-btn>
        </v-stepper-content>

        <v-stepper-step :complete="e6 > 2" step="2"> page 2 </v-stepper-step>

        <v-stepper-content step="2" class="d-flex justify-center">
          <v-card
            class="mb-12"
            elevation="2"
            style="max-width: 1000px"
            outlined
            shaped
          >
            <SpecificPageTwo
              @getcall_specific_two="call_specific_emittwo"
              :call_specific="call_specific"
            />
          </v-card>
          <div class="d-flex justify-space-between">
            <v-btn color="primary" @click="e6 = 1">ย้อนกลับ</v-btn>
            <v-btn
              @click="call_specific = !call_specific"
              color="secondary"
              elevation="6"
              plain
              >บันทึกข้อมูล</v-btn
            >
          </div>
        </v-stepper-content>
      </v-stepper>
    </v-app>
  </div>
</template>

<script>
import axios from 'axios'
const { apiUrl } = process.env
export default {
  components: {
    SpecificPageOne: () => import('~/components/specific/SpecificPageOne.vue'),
    SpecificPageTwo: () => import('~/components/specific/SpecificPageTwo.vue'),
  },
  data() {
    return {
      e6: 1,
      call_specific: null,
    }
  },
  methods: {
    async call_specific_emitone(add_specific_one) {
      await console.log('call_specific_one', (this.send_one = add_specific_one))
    },
    async call_specific_emittwo(add_specific_two) {
      await console.log('call_specific_two', (this.send_two = add_specific_two))
      this.sendapi()
    },
    async sendapi() {
      await axios.post(`${apiUrl}/specific/`, {
        specificone: this.send_one,
        specifictwo: this.send_two,
      })
      await (this.e6 = 3)
    },
  },
}
</script>

<style lang="scss" scoped>
.v-sheet.v-stepper:not(.v-sheet--outlined) {
  box-shadow: none;
}
</style>
