<template lang="html">
  <div>
    <div v-for="budgets in budget" :key="budgets._id">
      <v-card
        class="mx-4 my-4"
        v-for="budgetones in budgets.budgetone"
        :key="budgetones.id_file"
        @click="poslink(budgets._id)"
      >
        <v-list-item three-line>
          <v-list-item-content>
            <v-col class="d-flex justify-space-between">
              <div>
                เลขที่เอกสาร :
                <span>{{ budgetones.id_file }}</span>
              </div>
              <div>แบบเสนอราคาสำหรับเบิกจ่ายงบประมาณ</div>
              <div>
                ผู้เสนอ :
                <span>{{ budgetones.presenter }}</span>
              </div>
              <div>
                วันที่เอกสาร :
                <span>{{ budgetones.date_file }}</span>
              </div>
            </v-col>
          </v-list-item-content>
        </v-list-item>
      </v-card>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
const { apiUrl } = process.env

export default {
  data() {
    return {
      budget: [],
    }
  },
  methods: {
    getall() {
      const url = `${apiUrl}/budget`
      axios.get(url).then((res) => {
        this.budget = res.data
      })
    },

    poslink(_id) {
      // console.log(this.$emit('viewDetail', (this.budget_id = _id)))
      localStorage.setItem('id_budget', _id)
      return (window.location.href = '/budgets/budgetall/')
    },
  },
  computed: {},
  mounted() {
    this.getall()
  },
}
</script>

<style lang="css" scoped></style>
