<template>
  <div id="app">
    <div class="d-flex justify-center">
      <!-- <img width="50%" height="50%" src="@/assets/img/logo/playland.png" /> -->
            <p class="text-left" style="font-size: 150px; height: 203px">
      Test Project
      </p>
    </div>
    <div class="d-grid justify-center">
      <v-col style="width: 300px" class="px-0">
        <v-text-field v-model="username" label="Username"></v-text-field>
      </v-col>
      <v-col style="width: 300px" class="px-0">
        <v-text-field
          v-model="password"
          label="Password"
          type="password"
        ></v-text-field>
      </v-col>
      <v-btn @click="handleLoginClicked">Login</v-btn>
    </div>
  </div>
</template>
<script>
export default {
  layout: 'session',
  data() {
    return {
      username: '',
      password: '',
    }
  },
  methods: {
    async handleLoginClicked() {
      try {
        const response = await this.$auth.loginWith('local', {
          data: { username: this.username, password: this.password },
        })
        // console.log('login try', response.data.user.success)
        if (response.data.user.success) {
          // console.log('success')
          this.$router.replace({ name: 'index' })
        }
      } catch (err) {
        console.log(err)
      }
    },
  },
}
</script>
<style scoped></style>
