<template>
  <div>
    <specificcard />
  </div>
</template>

<script>
export default {
  components: {
    specificcard: () => import('~/components/specific/specificcard.vue'),
  },
}
</script>

<style></style>
