<template lang="html">
  <div>
    <div
      class="d-grid justify-center"
      v-for="specifics in specific"
      :key="specifics._id"
    >
      <div v-if="specifics._id == specific_id">
        <v-card
          class="my-4"
          v-for="specificones in specifics.specificone"
          :key="specificones._id"
        >
          <v-list-item three-line style="max-width: 1000px">
            <v-list-item-content>
              <p class="d-flex justify-center mt-2">
                แบบสรุปยอดการใช้จ่ายทำการตลาดสำหรับเบิกงบประมาณ
              </p>
              <div id="paragraphOne">
                <v-col class="d-grid justify-end">
                  <v-text-field
                    v-model="specificones.id_file"
                    label="เลขที่เอกสาร"
                    readonly
                  ></v-text-field>

                  <v-text-field
                    v-model="specificones.date_file"
                    label="วันที่"
                    readonly
                  ></v-text-field>
                </v-col>
                <v-col class="d-flex px-0">
                  <v-text-field
                    v-model="specificones.presenter"
                    class="col"
                    label="ผู้เสนอ"
                    readonly
                  ></v-text-field>
                  <v-text-field
                    v-model="specificones.affiliation"
                    class="col"
                    label="สังกัด"
                    readonly
                  ></v-text-field>
                </v-col>
                <v-col class="d-flex px-0 align-center">
                  <v-subheader class="col-auto"
                    >ขอชี้แจงสรุปการใช้จ่ายงบประมาณตามที่ได้รับเมื่อวันที่</v-subheader
                  >
                  <v-col>
                    <v-text-field
                      v-model="specificones.clarify_information"
                      readonly
                    ></v-text-field>
                  </v-col>
                </v-col>
                <v-col class="d-flex px-0">
                  <v-text-field
                    v-model="specificones.total"
                    class="col"
                    label="จำนวนทั้งสิ้น"
                    prefix=""
                    suffix="บาท"
                    readonly
                  ></v-text-field>
                  <v-text-field
                    v-model="specificones.txt_total"
                    class="col"
                    label="ตัวอักษร"
                    prefix="("
                    suffix="บาท)"
                    readonly
                  ></v-text-field>
                </v-col>
                <v-col class="d-flex px-0 align-center">
                  <v-subheader class="col-2">ใช้จ่ายระหว่าง</v-subheader>
                  <v-col>
                    <v-text-field
                      v-model="specificones.date_start"
                      label="ตั้งแต่วันที่"
                      readonly
                    ></v-text-field>
                  </v-col>
                  <v-col>
                    <v-text-field
                      v-model="specificones.date_stop"
                      label="ถึงวันที่"
                      readonly
                    ></v-text-field>
                  </v-col>
                </v-col>
                <div class="d-flex px-0 align-center">
                  <v-subheader cols="auto"
                    >โดยมีรายละเอียดการใช้จ่ายทำการตลาดตามเอกสารแนบท้าย</v-subheader
                  >
                  <v-col>
                    <v-text-field
                      v-model="specificones.sum_total"
                      label="รวมเป็นเงินทั้งสิ้น"
                      suffix="บาท"
                      readonly
                    ></v-text-field>
                  </v-col>
                </div>
                <div class="d-flex px-0 align-center">
                  <v-col cols="auto pl-0">
                    <v-subheader>ตัวอักษร</v-subheader>
                  </v-col>
                  <v-col cols="6">
                    <v-text-field
                      v-model="specificones.sum_total_txt"
                      prefix="("
                      suffix=")บาท"
                      readonly
                    ></v-text-field>
                  </v-col>
                </div>
                <v-col class="d-flex align-center px-0">
                  <v-subheader class="justify-start"
                    >เสนอแบบเสนอราคาฉบับนี้เข้าสู่ระบบวันที</v-subheader
                  >
                  <v-col>
                    <v-text-field
                      v-model="specificones.offer_date"
                      label="วันที่"
                      readonly
                    ></v-text-field>
                  </v-col>
                  <v-col>
                    <v-text-field
                      v-model="specificones.offer_time"
                      label="เวลา"
                      readonly
                    ></v-text-field>
                  </v-col>
                </v-col>
                <div class="d-grid justify-center">
                  <v-col class="d-flex justify-center align-center py-0">
                    <v-col cols="auto" class="py-0">
                      <v-subheader class="px-0">ลงชื่อ</v-subheader>
                    </v-col>
                    <v-col cols="10" class="py-0">
                      <v-text-field
                        v-model="specificones.sing_presenter"
                      ></v-text-field
                    ></v-col>
                    <v-col cols="auto" class="py-0">
                      <v-subheader class="px-0">ผู้เสนอ</v-subheader></v-col
                    >
                  </v-col>

                  <v-col class="d-flex justify-center align-center py-0">
                    <v-col cols="auto" class="py-0">
                      <v-subheader class="px-0">(</v-subheader>
                    </v-col>
                    <v-col cols="10" class="py-0">
                      <v-text-field
                        v-model="specificones.confirm_presenter"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="auto" class="py-0">
                      <v-subheader class="px-0">)</v-subheader>
                    </v-col>
                  </v-col>

                  <div class="d-flex justify-center align-center py-0">
                    <v-col cols="10" class="px-0">
                      <v-text-field
                        class="pt-0 px-6"
                        v-model="specificones.date_presenter"
                        label="วันที่"
                        readonly
                      ></v-text-field>
                    </v-col>
                  </div>
                </div>
              </div>
              <div v-for="examines in specificones.examine" :key="examines._id">
                <hr />
                <p class="mt-2">ฝ่ายบัญชีตรวจสอบเอกสารแนบท้ายแล้วพิจารณาว่า</p>
                <div
                  id="paragraphTwo"
                  v-for="file_radio in examines.examine_file"
                  :key="file_radio._id"
                >
                  <div class="d-flex">
                    <v-col class="d-flex align-center">
                      <v-radio-group v-model="file_radio.file_check" readonly>
                        <v-radio
                          label="ผ่าน "
                          value="true"
                          class="pr-4"
                        ></v-radio>
                      </v-radio-group>
                      <v-subheader>เอกสารถูกต้องครบถ้วนทั้งหมด</v-subheader>
                      <v-text-field
                        v-model="file_radio.file_date"
                        readonly
                        :disabled="file_radio.file_check != 'true'"
                      ></v-text-field>
                    </v-col>
                  </div>
                  <div class="d-flex">
                    <v-col cols="" class="d-flex align-center">
                      <v-radio-group v-model="file_radio.file_check" readonly>
                        <v-radio label="ไม่ผ่าน" value="false"></v-radio>
                      </v-radio-group>
                      <v-subheader
                        >แก้ไขเปลี่ยนแปลงจำนวนเงินทั้งสิ้นจากเดิมเป็น</v-subheader
                      >
                      <v-text-field
                        class="px-2"
                        :disabled="file_radio.file_check != 'false'"
                        readonly
                        v-model="file_radio.file_editfile"
                        suffix="บาท"
                      ></v-text-field>
                      <v-text-field
                        v-model="file_radio.file_txt_total"
                        :disabled="file_radio.file_check != 'false'"
                        readonly
                        label="ตัวอักษร"
                        prefix="("
                        suffix=")บาท"
                      ></v-text-field>
                    </v-col>
                  </div>
                </div>
                <div class="d-flex px-0">
                  <v-col cols="2">
                    <v-subheader>หมายเหตุ</v-subheader>
                  </v-col>
                  <v-col cols="10">
                    <v-text-field v-model="examines.note"></v-text-field>
                  </v-col>
                </div>
                <div class="d-flex justify-center">
                  <v-col cols="4">
                    <v-text-field
                      v-model="examines.date_inspector"
                      label="อนุมัติในระบบวันที่"
                      readonly
                    ></v-text-field>
                  </v-col>
                  <v-col cols="1" class="d-flex align-center justify-end px-0">
                    <v-subheader class="px-0">ลงชื่อ</v-subheader>
                  </v-col>
                  <v-col cols="4" class="px-2">
                    <v-text-field
                      v-model="examines.sing_inspector"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="1" class="d-flex align-center px-0">
                    <v-subheader class="px-0">ผู้ตรวจสอบ</v-subheader>
                  </v-col>
                </div>
                <hr />
                <div id="paragraphThree">
                  <div class="d-flex px-0">
                    <v-col cols="6">
                      <v-text-field
                        v-model="examines.receive_money"
                        label="ได้รับเงินจำนวนทั้งสิ้น"
                        suffix="บาท"
                        readonly
                      ></v-text-field>
                    </v-col>
                    <v-col cols="6">
                      <v-text-field
                        v-model="examines.receive_money_txt"
                        label="ตัวอักษร"
                        prefix="("
                        suffix="บาท )"
                        readonly
                      ></v-text-field>
                    </v-col>
                  </div>
                  <v-col
                    class="d-felx align-center px-0"
                    v-for="moneys in examines.money"
                    :key="moneys._id"
                  >
                    <v-radio-group v-model="moneys.money_check">
                      <v-col
                        ><v-radio value="true" label="เงินสด"> </v-radio
                      ></v-col>

                      <v-col class="d-flex align-center pr-0">
                        <v-radio value="false" label="โอนเงิน"> </v-radio>
                        <v-col>
                          <v-text-field
                            :disabled="moneys.money_check != 'false'"
                            v-model="moneys.money_bankok"
                            label="ธนาคาร"
                          ></v-text-field>
                        </v-col>
                        <v-col>
                          <v-text-field
                            :disabled="moneys.money_check != 'false'"
                            v-model="moneys.name_bankok"
                            label="ชื่อบัญชี"
                            readonly
                          ></v-text-field>
                        </v-col>
                        <v-col cols="3">
                          <v-text-field
                            :disabled="moneys.money_check != 'false'"
                            v-model="moneys.number_bankok"
                            label="เลขที่บัญชี"
                            readonly
                          ></v-text-field>
                        </v-col>
                      </v-col>
                    </v-radio-group>
                  </v-col>
                  <v-col class="d-flex align-center">
                    <v-subheader cols="" class="pl-0">หมายเหตุ</v-subheader>
                    <v-text-field
                      cols=""
                      v-model="examines.money_note"
                      readonly
                    ></v-text-field>
                  </v-col>
                  <div class="d-flex pl-10">
                    <v-col cols="3">
                      <v-text-field
                        v-model="examines.money_day"
                        label="วันที่"
                        readonly
                      ></v-text-field>
                    </v-col>

                    <v-col cols="3">
                      <v-text-field
                        v-model="examines.money_time"
                        label="เวลา"
                        readonly
                      ></v-text-field>
                    </v-col>
                  </div>
                  <div class="d-flex">
                    <v-col cols="6">
                      <div class="d-grid justify-center">
                        <v-col class="d-flex justify-center align-center py-0">
                          <v-col cols="auto" class="py-0">
                            <v-subheader class="px-0">ลงชื่อ</v-subheader>
                          </v-col>
                          <v-col cols="10" class="py-0">
                            <v-text-field
                              v-model="examines.sing_money_inspector"
                              readonly
                            ></v-text-field
                          ></v-col>
                          <v-col cols="auto" class="py-0">
                            <v-subheader class="px-0"
                              >ผู้เสนอ</v-subheader
                            ></v-col
                          >
                        </v-col>
                        <div class="d-flex justify-center align-center py-0">
                          <v-col cols="10" class="px-0">
                            <v-text-field
                              class="pt-0 px-6"
                              v-model="examines.date_money"
                              label="อนุมัติในระบบวันที่"
                              readonly
                            ></v-text-field>
                          </v-col>
                        </div>
                      </div>
                    </v-col>
                    <v-col cols="6">
                      <div class="d-grid justify-center">
                        <v-col class="d-flex justify-center align-center py-0">
                          <v-col cols="auto" class="py-0">
                            <v-subheader class="px-0">ลงชื่อ</v-subheader>
                          </v-col>
                          <v-col cols="10" class="py-0">
                            <v-text-field
                              v-model="examines.sing_payee"
                              readonly
                            ></v-text-field
                          ></v-col>
                          <v-col cols="auto" class="py-0">
                            <v-subheader class="px-0"
                              >ผู้รับเงิน</v-subheader
                            ></v-col
                          >
                        </v-col>
                      </div>
                    </v-col>
                  </div>
                </div>
              </div>
            </v-list-item-content>
          </v-list-item>
        </v-card>
        <v-card
          class="my-4"
          v-for="specifictwos in specifics.specifictwo"
          :key="specifictwos._id"
        >
          <v-list-item three-line style="max-width: 1000px">
            <v-list-item-content>
              <p class="d-flex justify-center mt-2">รายละเอียดค่าใช้จ่าย</p>
              <div>
                <v-col class="d-grid justify-end">
                  <v-text-field
                    v-model="specifictwos.id_file"
                    label="เลขที่เอกสาร"
                    readonly
                  ></v-text-field>
                  <v-text-field
                    v-model="specifictwos.date_file"
                    label="วันที่"
                    readonly
                  ></v-text-field>
                </v-col>
                <v-col class="d-flex">
                  <v-text-field
                    v-model="specifictwos.presenter"
                    class="pr-2"
                    label="ผู้เสนอ"
                    readonly
                  ></v-text-field>
                  <v-text-field
                    v-model="specifictwos.affiliation"
                    class="pl-2"
                    label="สังกัด"
                    readonly
                  ></v-text-field>
                </v-col>
              </div>
              <!--  -->

              <template>
                <v-data-table
                  :headers="headers"
                  :items="desserts"
                  hide-default-footer
                  class="elevation-1"
                ></v-data-table>
              </template>
              <!--  -->

              <div>
                <v-col class="d-flex">
                  <v-text-field
                    v-model="specifictwos.total"
                    label="ตัวอักษร"
                    prefix="("
                    suffix=")บาท"
                    readonly
                  ></v-text-field>
                  <v-text-field
                    v-model="specifictwos.txt_total"
                    class="px-2"
                    label="รวมเป็นเงินทั้งสิ้น"
                    readonly
                  ></v-text-field>
                </v-col>
              </div>
            </v-list-item-content>
          </v-list-item>
        </v-card>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
const { apiUrl } = process.env
export default {
  data() {
    return {
      specific: [],
      moneys: [],
      specific_id: '',
      headers: [
        {
          text: 'ลำดับที่',
          align: 'start',
          sortable: false,
          value: 'data_id',
        },
        { text: 'รายการ', value: 'data_list' },
        { text: 'จำนวน', value: 'data_total' },
        { text: 'หนวย', value: 'data_unit' },
        { text: 'ราคาต่อหน่วย', value: 'data_unit_price' },
        { text: 'รวมเป็นเงิน', value: 'data_sum_total' },
      ],
      desserts: [],
    }
  },
  methods: {
    async getall() {
      this.specific_id = localStorage.getItem('id_specific')
      const url = `${apiUrl}/specific`
      await axios.get(url).then((res) => {
        this.specific = res.data
      })
      await this.for_function()
    },
    async for_function() {
      const url = `${apiUrl}/specific`
      await axios.get(url).then((res) => {
        this.specific = res.data
        for (let i = 0; i < this.specific.length; i++) {
          this.specific[i]
          if (this.specific[i]._id == this.specific_id) {
            this.desserts = this.specific[i].specifictwo[0].tabel_data
            for (let i = 0; i < this.desserts.length; i++) {
              this.desserts[i]
            }
          }
        }
      })
    },
  },
  mounted() {
    this.getall()
  },
}
</script>

<style lang="css" scoped></style>
