<template>
  <div>
    <supportcard />
  </div>
</template>

<script>
export default {
  components: {
    supportcard: () => import('~/components/support/supportcard.vue'),
  },
}
</script>

<style></style>
