<template lang="html">
  <div>
    <div
      class="d-grid justify-center"
      v-for="supports in support"
      :key="supports._id"
    >
      <div v-if="supports._id == support_id">
        <v-card
          class="my-4"
          v-for="supportones in supports.supportone"
          :key="supportones._id"
        >
          <v-list-item three-line style="max-width: 1000px">
            <v-list-item-content>
              <div class="mb-6">
                <div class="d-flex justify-end">
                  <v-col cols="3">
                    <v-text-field
                      v-model="supportones.id_file"
                      label="เลขที่เอกสาร"
                      readonly
                    ></v-text-field>

                    <v-text-field
                      v-model="supportones.date_file"
                      label="วันที่"
                      readonly
                    ></v-text-field>
                  </v-col>
                </div>
                <div class="d-flex justify-center">
                  <v-col cols="8">
                    <v-text-field
                      v-model="supportones.moneysupport"
                      label="แบบขอรับเงินสนับสนุน Project"
                      readonly
                    ></v-text-field>
                    <v-text-field
                      v-model="supportones.supportpeople"
                      label="โดย"
                      readonly
                    ></v-text-field>
                  </v-col>
                </div>
                <v-col>
                  <v-textarea
                    v-model="supportones.necessity"
                    name="input-3-1"
                    label="1. สาเหตุ ความจำเป็น และโอกาสที่เห็น"
                    rows="3"
                    readonly
                  ></v-textarea>
                </v-col>
                <v-col>
                  <v-textarea
                    v-model="supportones.goal_project"
                    name="input-3-1"
                    label="2. เป้าหมายของ Project"
                    rows="3"
                    readonly
                  ></v-textarea>
                </v-col>
                <v-col>
                  <v-textarea
                    v-model="supportones.manage"
                    name="input-3-1"
                    label="3. วิธีดำเนินการ"
                    rows="3"
                    readonly
                  ></v-textarea>
                </v-col>
                <v-col>
                  <v-textarea
                    v-model="supportones.phase_manage"
                    name="input-3-1"
                    label="4. ระยะเวลาในการดำเนินการ"
                    rows="3"
                    readonly
                  ></v-textarea>
                </v-col>
                <v-col>
                  <v-textarea
                    v-model="supportones.details"
                    name="input-3-1"
                    label="5. รายละเอียดและแผนในการทำสื่อ"
                    rows="3"
                    readonly
                  ></v-textarea>
                </v-col>
                <div
                  class="d-flex"
                  v-for="consider_medias in supportones.consider_media"
                  :key="consider_medias._id"
                >
                  <div class="col-2 pt-11">ผลการพิจารณาสื่อ</div>
                  <div
                    class="col-10"
                    v-for="medias in consider_medias.media"
                    :key="medias._id"
                  >
                    <v-col class="d-flex align-center">
                      <v-radio-group v-model="medias.media_check">
                        <v-radio
                          label="ผ่านการพิจารณา"
                          value="true"
                          class="pr-4"
                        ></v-radio>
                      </v-radio-group>
                      <v-subheader>อนุมัติในระบบ</v-subheader>

                      <v-text-field
                        v-model="medias.media_date"
                        readonly
                        :disabled="medias.media_check != 'true'"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="" class="d-flex align-center">
                      <v-radio-group v-model="medias.media_check">
                        <v-radio
                          label="ไม่ผ่านการพิจารณา"
                          value="false"
                        ></v-radio>
                      </v-radio-group>
                      <v-subheader>เนื่องจาก</v-subheader>
                      <v-text-field
                        class="px-2"
                        :disabled="medias.media_check != 'false'"
                        v-model="medias.media_since"
                        readonly
                      ></v-text-field>
                    </v-col>
                  </div>
                </div>
                <div
                  v-for="consider_medias in supportones.consider_media"
                  :key="consider_medias._id"
                >
                  <v-col class="d-flex justify-center pb-0">
                    <v-col cols="5" class="d-flex align-center pb-0">
                      <v-subheader class="pr-1">ลงชื่อ</v-subheader>
                      <v-text-field
                        v-model="consider_medias.sing_presenter"
                        class="pt-0"
                      ></v-text-field>
                      <v-subheader class="pl-1">ผู้เสนอ</v-subheader>
                    </v-col>
                  </v-col>
                  <div class="d-flex justify-center pt-0">
                    <v-col cols="4" class="pt-0">
                      <v-text-field
                        class="pt-0 pl-5 pr-5"
                        v-model="consider_medias.date_presenter"
                        label="วันที่"
                        readonly
                      ></v-text-field>
                    </v-col>
                  </div>
                </div>
                <!--  -->
                <div v-for="budgets in supportones.budget" :key="budgets._id">
                  <div
                    v-for="budgetarry in budgets.budget"
                    :key="budgetarry._id"
                  >
                    <v-col>6. งบประมาณ</v-col>
                    <v-col class="d-flex align-center">
                      <v-subheader>6.1 งบประมาณขอรับการสนับสนุน</v-subheader>
                      <v-text-field
                        class="px-2"
                        label="จำนวนเงิน"
                        suffix="บาท"
                        readonly
                        v-model="budgetarry.total"
                      ></v-text-field>
                      <v-text-field
                        v-model="budgetarry.txt_total"
                        prefix="("
                        suffix=")บาท"
                        readonly
                      ></v-text-field>
                    </v-col>
                  </div>
                  <v-col
                    class="d-flex align-center"
                    v-for="borrows in budgets.borrow_budget"
                    :key="borrows._id"
                  >
                    <v-subheader
                      >6.2 ยืมงบประมาณเพื่อใช้จ่ายล่วงหน้า</v-subheader
                    >
                    <v-text-field
                      v-model="borrows.setback"
                      class="px-2"
                      label="กำหนดคืน"
                      readonly
                    ></v-text-field>
                    <v-text-field
                      v-model="borrows.total"
                      class="px-2"
                      label="จำนวนเงิน"
                      readonly
                      suffix="บาท"
                    ></v-text-field>
                    <v-text-field
                      v-model="borrows.txt_total"
                      prefix="("
                      suffix=")บาท"
                      readonly
                    ></v-text-field>
                  </v-col>
                  <v-col
                    class="d-flex align-center"
                    v-for="my_supports in budgets.my_support"
                    :key="my_supports._id"
                  >
                    <v-subheader
                      >6.3 งบประมาณในส่วนของตนเองสนับสนุนสมทบ ( ถ้ามี
                      )</v-subheader
                    >
                    <v-text-field
                      v-model="my_supports.total"
                      class="px-2"
                      label="จำนวนเงิน"
                      suffix="บาท"
                      readonly
                    ></v-text-field>
                    <v-text-field
                      v-model="my_supports.txt_total"
                      prefix="("
                      suffix=")บาท"
                      readonly
                    ></v-text-field>
                  </v-col>
                  <v-col cols="" class="d-flex align-center">
                    <v-text-field
                      class="px-2"
                      label="รวมทั้งสิ้นเป็นจำนวนเงิน"
                      suffix="บาท"
                      v-model="budgets.sum_total"
                      readonly
                    ></v-text-field>
                    <v-text-field
                      v-model="budgets.sum_txt_total"
                      readonly
                      prefix="("
                      suffix=")บาท"
                    ></v-text-field>
                  </v-col>
                </div>
                <v-col>
                  <v-textarea
                    v-model="supportones.result_project"
                    name="input-3-1"
                    label="7. ผลลัพธ์ที่คาดว่าจะได้รับจาก Project ในครั้งนี้"
                    rows="3"
                    readonly
                  ></v-textarea>
                </v-col>
              </div>
              <div>
                <v-col class="d-flex justify-center pb-0">
                  <v-col
                    class="col-5 d-flex align-center pb-0"
                    style="margin-left: 12px"
                  >
                    <v-subheader class="pr-1">ลงชื่อ</v-subheader>

                    <v-text-field
                      v-model="supportones.sing_presenter"
                      class="pt-0"
                      readonly
                      style="min-width: 259px !important"
                    ></v-text-field>

                    <v-subheader
                      class="pl-1"
                      style="flex-wrap: wrap; min-width: 28%"
                      >ผู้เสนอ Project</v-subheader
                    >
                  </v-col>
                </v-col>
                <v-col class="d-flex justify-center py-0">
                  <v-col cols="4" class="d-flex align-center py-0">
                    <v-subheader class="pr-1 pl-3">(</v-subheader>
                    <v-text-field
                      v-model="supportones.confirm_presenter"
                      class="pt-0"
                      readonly
                      style="width: 246px"
                    ></v-text-field>
                    <v-subheader class="pl-1">)</v-subheader>
                  </v-col>
                </v-col>
                <div class="d-flex justify-center pt-0">
                  <v-col cols="4" class="pt-0" style="margin-left: 4px">
                    <v-text-field
                      class="pt-0 pl-5 pr-5"
                      v-model="supportones.date_presenter"
                      label="วันที่"
                      readonly
                      prepend-inner-icon="mdi-calendar"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                      style="width: 300px"
                    ></v-text-field>
                  </v-col>
                </div>
              </div>
              <div class="d-flex align-center">
                <v-col cols="5" style="max-width: 366px !important"
                  >แบบขอรับเงินสนับสนุน Project ฉบับนี้เข้าสู่ระบบวันที่</v-col
                >
                <v-col>
                  <v-text-field
                    v-model="supportones.support_money_day"
                    label="วันที่"
                    readonly
                  ></v-text-field>
                </v-col>

                <v-col>
                  <v-text-field
                    v-model="supportones.support_money_time"
                    label="เวลา"
                    readonly
                  ></v-text-field>
                </v-col>
              </div>

              <hr />
              <!--  -->
              <div
                v-for="considers in supportones.consider"
                :key="considers._id"
              >
                <div
                  class="d-flex"
                  v-for="considerarry in considers.consider"
                  :key="considerarry._id"
                >
                  <div class="col-2 pt-11">ผลการพิจารณา</div>
                  <div class="col-10">
                    <v-col class="d-flex align-center">
                      <v-radio-group v-model="considerarry.consider_check">
                        <v-radio
                          label="ผ่านการพิจารณา"
                          value="true"
                          class="pr-4"
                        ></v-radio>
                      </v-radio-group>
                      <v-subheader>อนุมัติในระบบ</v-subheader>
                      <v-text-field
                        v-model="considerarry.consider_date"
                        readonly
                        :disabled="considerarry.consider_check != 'true'"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="" class="d-flex align-center">
                      <v-radio-group v-model="considerarry.consider_check">
                        <v-radio
                          label="ไม่ผ่านการพิจารณา"
                          value="false"
                        ></v-radio>
                      </v-radio-group>
                      <v-subheader>เนื่องจาก</v-subheader>
                      <v-text-field
                        class="px-2"
                        :disabled="considerarry.consider_check != 'false'"
                        v-model="considerarry.consider_since"
                        readonly
                      ></v-text-field>
                    </v-col>
                  </div>
                </div>
                <div>
                  <v-col class="d-flex justify-center pb-0">
                    <v-col
                      class="col-5 d-flex align-center pb-0"
                      style="margin-left: 12px"
                    >
                      <v-subheader class="pr-1">ลงชื่อ</v-subheader>

                      <v-text-field
                        v-model="considers.sing_presenter"
                        class="pt-0"
                        style="min-width: 259px !important"
                        readonly
                      ></v-text-field>

                      <v-subheader
                        class="pl-1"
                        style="flex-wrap: wrap; min-width: 28%"
                        >ผู้พิจารณา Project</v-subheader
                      >
                    </v-col>
                  </v-col>
                  <v-col class="d-flex justify-center py-0">
                    <v-col cols="4" class="d-flex align-center py-0">
                      <v-subheader class="pr-1 pl-3">(</v-subheader>
                      <v-text-field
                        v-model="considers.confirm_presenter"
                        class="pt-0"
                        style="width: 246px"
                        readonly
                      ></v-text-field>
                      <v-subheader class="pl-1">)</v-subheader>
                    </v-col>
                  </v-col>
                  <div class="d-flex justify-center pt-0">
                    <v-col cols="4" class="pt-0" style="margin-left: 4px">
                      <v-text-field
                        class="pt-0 pl-5 pr-5"
                        v-model="considers.date_presenter"
                        label="วันที่"
                        prepend-inner-icon="mdi-calendar"
                        readonly
                        style="width: 300px"
                      ></v-text-field>
                    </v-col>
                  </div>
                </div>
              </div>

              <hr />
              <!--  -->
              <div v-for="monneys in supportones.monney" :key="monneys._id">
                <div class="d-flex align-center">
                  <v-col cols="auto">วันที่รับเงิน</v-col>
                  <v-col>
                    <v-text-field
                      v-model="monneys.date_payee"
                      prepend-inner-icon="mdi-calendar"
                      label="วันที่"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </v-col>

                  <v-col>
                    <v-text-field
                      v-model="monneys.time_payee"
                      label="เวลา"
                      readonly
                    ></v-text-field>
                  </v-col>
                </div>
                <!--  -->
                <div
                  c
                  class="d-flex justify-end"
                  v-for="monneyarry in monneys.money"
                  :key="monneyarry._id"
                >
                  <v-col class="col-10">
                    <v-radio-group v-model="monneyarry.money_check">
                      <v-col
                        ><v-radio value="true" label="เงินสด"> </v-radio
                      ></v-col>

                      <v-col class="d-flex align-center pr-0">
                        <v-radio value="false" label="โอนเงิน"> </v-radio>
                        <v-col>
                          <v-text-field
                            :disabled="monneyarry.money_check != 'false'"
                            v-model="monneyarry.money_bankok"
                            label="ธนาคาร"
                            readonly
                          ></v-text-field>
                        </v-col>
                        <v-col>
                          <v-text-field
                            :disabled="monneyarry.money_check != 'false'"
                            v-model="monneyarry.name_bankok"
                            label="ชื่อบัญชี"
                            readonly
                          ></v-text-field>
                        </v-col>
                        <v-col cols="3">
                          <v-text-field
                            :disabled="monneyarry.money_check != 'false'"
                            v-model="monneyarry.number_bankok"
                            label="เลขที่บัญชี"
                            readonly
                          ></v-text-field>
                        </v-col>
                      </v-col>
                    </v-radio-group>
                  </v-col>
                </div>
                <!-- <div id="paragraphThree"> -->
                <v-col class="d-flex align-center">
                  <v-text-field
                    v-model="monneys.sum_total"
                    class="px-2"
                    label="จำนวนเงิน"
                    suffix="บาท"
                    readonly
                  ></v-text-field>
                  <v-text-field
                    v-model="monneys.sum_txt_total"
                    prefix="("
                    suffix=")บาท"
                    readonly
                  ></v-text-field>
                </v-col>

                <v-col class="d-flex align-center">
                  <v-subheader cols="" class="pl-0">หมายเหตุ</v-subheader>
                  <v-text-field
                    cols=""
                    v-model="monneys.note"
                    readonly
                  ></v-text-field>
                </v-col>

                <div class="d-flex">
                  <v-col cols="6">
                    <div class="d-grid justify-center">
                      <v-col class="d-flex justify-center align-center py-0">
                        <v-col cols="auto" class="py-0">
                          <v-subheader class="px-0">ลงชื่อ</v-subheader>
                        </v-col>
                        <v-col cols="10" class="py-0">
                          <v-text-field
                            v-model="monneys.sing_payer"
                          ></v-text-field
                        ></v-col>
                        <v-col cols="auto" class="py-0">
                          <v-subheader class="px-0"
                            >ผู้จ่ายเงิน</v-subheader
                          ></v-col
                        >
                      </v-col>
                      <div class="d-flex justify-center align-center py-0">
                        <v-col cols="10" class="px-0">
                          <v-text-field
                            class="pt-0 px-6"
                            v-model="monneys.approve_date"
                            label="อนุมัติในระบบวันที่"
                            readonly
                          ></v-text-field>
                        </v-col>
                      </div>
                    </div>
                  </v-col>
                  <v-col cols="6">
                    <div class="d-grid justify-center">
                      <v-col class="d-flex justify-center align-center py-0">
                        <v-col cols="auto" class="py-0">
                          <v-subheader class="px-0">ลงชื่อ</v-subheader>
                        </v-col>
                        <v-col cols="10" class="py-0">
                          <v-text-field
                            v-model="monneys.sing_payee"
                          ></v-text-field
                        ></v-col>
                        <v-col cols="auto" class="py-0">
                          <v-subheader class="px-0"
                            >ผู้รับเงิน</v-subheader
                          ></v-col
                        >
                      </v-col>
                    </div>
                  </v-col>
                </div>
              </div>
            </v-list-item-content>
          </v-list-item>
        </v-card>
        <v-card
          class="my-4"
          v-for="supporttwos in supports.supporttwo"
          :key="supporttwos._id"
        >
          <v-list-item three-line style="max-width: 1000px">
            <v-list-item-content>
              <p class="d-flex justify-center mt-2">รายละเอียดค่าใช้จ่าย</p>
              <div>
                <v-col class="d-grid justify-end">
                  <v-text-field
                    v-model="supporttwos.nameproject"
                    label="เลขที่เอกสาร"
                    readonly
                  ></v-text-field>
                </v-col>
              </div>
              <!--  -->

              <template>
                <v-data-table
                  :headers="headers"
                  :items="desserts"
                  hide-default-footer
                  class="elevation-1"
                ></v-data-table>
              </template>
              <!--  -->

              <div>
                <v-col class="d-flex">
                  <v-text-field
                    v-model="supporttwos.total"
                    label="ตัวอักษร"
                    prefix="("
                    suffix=")บาท"
                    readonly
                  ></v-text-field>
                  <v-text-field
                    v-model="supporttwos.txt_total"
                    class="px-2"
                    label="รวมเป็นเงินทั้งสิ้น"
                    readonly
                  ></v-text-field>
                </v-col>
              </div>
            </v-list-item-content>
          </v-list-item>
        </v-card>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
const { apiUrl } = process.env
export default {
  data() {
    return {
      support: [],
      headers: [
        {
          text: 'ลำดับที่',
          align: 'start',
          sortable: false,
          value: 'data_id',
        },
        { text: 'รายการ', value: 'data_list_price' },
        { text: 'จำนวน', value: 'data_price' },
      ],
      desserts: [],
    }
  },
  methods: {
    getall() {
      console.log('dd', (this.support_id = localStorage.getItem('id_support')))
      const url = `${apiUrl}/support`
      axios.get(url).then((res) => {
        this.support = res.data
      })
      // localStorage.removeItem('id_support')
      // console.log('dd', this.support_id)
      this.for_function()
    },
    async for_function() {
      const url = `${apiUrl}/support`
      await axios.get(url).then((res) => {
        this.support = res.data
        for (let i = 0; i < this.support.length; i++) {
          this.support[i]
          if (this.support[i]._id == this.support_id) {
            this.desserts = this.support[i].supporttwo[0].tabel_data
            for (let i = 0; i < this.desserts.length; i++) {
              this.desserts[i]
            }
          }
        }
      })
    },
  },
  mounted() {
    this.getall()
  },
}
</script>

<style lang="css" scoped></style>
